<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated basicsafetycase -->
      <package
            uri="http://se.cs.toronto.edu/modelepedia/BasicSafetyCase"
            class="edu.toronto.cs.se.modelepedia.basicsafetycase.BasicSafetyCasePackage"
            genModel="model/basicsafetycase.genmodel"/>
   </extension>

</plugin>
